@page
@model RazorBakery.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre Nos";
}
<section id="principal">
    <h1>Um Pouco Sobre Fourth Coffee </h1>
    <p>
         O Fourth Coffee foi fundado em 2010 e oferece café e produtos acabados de fazer à sua porta.
         Em outra vida, Bill Baker era desenvolvedor de dia e chefe de pastelaria à noite.
         Mas logo as habilidades inatas de Bill com todas as coisas envolvendo manteiga, farinha e açúcar o colocam
         ainda mais em demanda do que seus talentos de programação e que começou como uma maneira de satisfazer
         seu próprio dente doce tornou-se consumidor. Quarto Café não é apenas um país das maravilhas revestido de doces
         de café, bolos, biscoitos e bolos, ele também homenageia sua experiência em tecnologia empregando um
         do sistema de pedidos on-line de arte que facilita para qualquer pessoa com acesso à Internet
         peça seus produtos naturais, de origem local, e entregue-os em suas
         porta dentro de 24 horas.
    </p>
</section>